.button {
  background-color: $blue;
  border: 1px solid transparent;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $family-sans-serif;
  font-size: $size-8;
  line-height: 1rem;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  padding: 0.625rem 1rem;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;

  @include transition(all, 0.2s, ease-in-out);

  .icon-left {
    padding-right: 0.45rem;
  }

  .icon-right {
    padding-left: 0.45rem;
  }

  .-disabled,
  &:disabled {
    background-color: $grey-lighter;
    color: $grey-dark;
  }

  &:focus,
  .-focus {
    outline: none;
  }

  @include button-color($colors);

  &.-rounded {
    @include border-radius(4px);
  }

  &.-pill {
    @include border-radius($radius-rounded);
  }
}
