@mixin button-color($colors) {
  @each $color,$value in $colors {
    &.-#{$color} {
      background-color: $value;

      @if $color=="white" {
        color: $black;
      }

      &.-loading {
        @if $color=="white" {
          &::after {
            border-color: $black;
            border-right-color: transparent;
            border-top-color: transparent;
          }
        }
      }

      &.-outline {
        background-color: transparent;
        border-color: $value;
        color: $value;

        &:hover {
          @if $color=="white" {
            background-color: $black;
            color: $black;
          }

          @else {
            background-color: $value;
            color: $white;
          }
        }

        &.-loading {
          &::after {
            border-color: $value;
            border-right-color: transparent;
            border-top-color: transparent;
          }

          &:hover {
            &::after {
              @if $color=="white" {
                border-color: $black;
              }

              @else {
                border-color: $white;
              }

              border-right-color: transparent;
              border-top-color: transparent;
            }
          }
        }
      }

      &.-link {
        background-color: transparent;
        color: $value;
      }

      &.-gradient {
        @include linear-gradient(to top left, $value 0%, lighten($value, 0%) 51%, darken($value, 7%) 100%);

        &:hover {
          @include linear-gradient(to top left, lighten($value, 5%) 0%, lighten($value, 2%) 51%, darken($value, 5%) 100%);
        }
      }

      &:focus {
        background-color: lighten($value, 8%);
      }

      &:hover {
        background-color: darken($value, 8%);
      }
    }
  }
}
